main {
    display: grid;
    width: 600px;
    height: 600px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:"header     name"
                        "attributes info"
                        "defenses   background";
}

.header {
    grid-area: header;
}

.name {
    grid-area: name;
}

.attributes {
    margin: 0;
    grid-area: attributes;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"str int"
                        "dex wis"
                        "con cha";
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 3px solid black;
    padding: 10px 10px;
}

.info {
    grid-area: info;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.experience {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.xp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.strength {
    grid-area: str;
}

.dexterity {
    grid-area: dex;
}

.constitution {
    grid-area: con;
}

.intelligence {
    grid-area: int;
}

.wisdom {
    grid-area: wis;
}

.charisma {
    grid-area: cha;
}

.info {
    grid-area: info;
}

.combat {
    grid-area: defenses;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:"ac      hp"
                        "attacks attacks";
}

.ac {
    grid-area: ac;
}

.hp {
    grid-area: hp;
}

.attacks {
    grid-area: attacks;
}

#attacks {
    height: 100%;
    width: calc(100% - 10px);
}

.background {
    grid-area: background;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.labeled_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 3px solid black;
    padding: 10px 10px;
}

.full_width {
    width: 100%;
}
